h1 {font-family:Verdana, Geneva, Tahoma, sans-serif; color:black; text-align: center; text-transform: small-caps;}
dt {font-family:cambria; font-size: 19px; text-align: center;}
body {background-color: whitesmoke; color:black; font-family: Arial, Helvetica, sans-serif;}
a {text-decoration: none; color:darkblue}
.p7 {text-align: end; color:black; font-family: Arial, Helvetica, sans-serif; font-size: 10px;}
